@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Roboto", sans-serif;
}

.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* track & thumb transparent by default */
  -webkit-overflow-scrolling: touch;
  transition: scrollbar-color 0.3s ease;
}

/* Webkit browsers */
.custom-scrollbar::-webkit-scrollbar {
  height: 1px; /* super thin scrollbar track */
  background: transparent; /* invisible track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent; /* hidden by default */
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Show scrollbar thumb and color on hover */
.custom-scrollbar:hover {
  scrollbar-color: #272727 transparent; /* Firefox thumb color on hover */
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #272727; /* visible thumb on hover */
}
